.signIn{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
        ), 
    url("../../images/LoginBackgroud1.jpg");
    background-size: cover;
}

.signInContent {
    background-color: #be987b;
}

.signInTitle{
    font-size: 50px;
    text-align: center;
    margin-top: 1em;
}

.signInForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin: 65px;
}

.signInForm > label{
    margin: 10px 0;
    font-size: larger;
}

.signInInput{
    padding: 10px;
    background-color: white;
    border: none;
    font-size: medium;
}

.signInButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: #835d40;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}

.signInRegisterButton{
    position: absolute;
    margin-top: 50px;
    top: 60px;
    right: 50px;
    border: none;
    background-color: #b67b4e;
    cursor: pointer;
    padding: 15px;
    color: white;
    border-radius: 10px;
    font-size: larger;
}

@media screen and (max-width: 900px){
    .signInRegisterButton{
        top: 50px;
        right: 20px;
    }

    .signInTitle{
        font-size: 45px;
    }

    .signInForm {
        margin: 50px;
        margin-top: 10px;
    }
}
