.about-main-image > img {
    width: 100%;
    height: 330px;
}

.About-title {
    text-align: center;
    font-size: 60px;
    color: #652A0E;
    margin-top: .5em;
    margin-bottom: .5em;
}

.AboutUsContent {
    margin-left: 1em;
    margin-right: .5em;
    font-size: large;
}

.aboutUsImage {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.aboutUsImage > img {
    width: 340px;
    height: 280px;
}


.aboutFooterImage > img {
    width: 100%;
}