  .home > img {
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    object-fit: contain;
  }
  
  .home{
    background: url('../images/main.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
  }

  .home > h1 {
    margin-left: 30px;
    margin-top: 100px;
    color: #CA9064;
    font-size: 63px;
    font-style: italic;
  }
  
  .home > p {
    margin-left: 55px;
    color: #000;
    font-size: 22px;
  }

  @media screen and (max-width: 960px) {
    .home-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .home-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .home-container > p {
      font-size: 30px;
    }
  

  }
    
/* .........part 2.......... */

